@font-face {
  font-family: iomanoid;
  src: url(./font/iomanoid.ttf);
}

@font-face {
  font-family: VT323;
  src: url(./font/VT323.ttf);
}

* {
    font-family: VT323, monospace;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(243, 118, 1);
  overflow-y: hidden;
}

header {
  width: 100%;
  height: 15vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 2.5em;
  color: white;
}

/* Design of the board and its cells */

table {
  width: 80%;
  margin-top: -40px;

  padding: 2px;

  border: 1px solid rgb(134, 123, 123);
  border-radius: 5px;
}

td {
  background-color: rgb(245, 227, 184);
  color: rgba(0, 0, 0, 0.85);

  border-radius: 4px;
  width: 17%;
  height: 17%;
  margin: 8px;

  padding: 2px;

  display: inline-block;
  letter-spacing: 1px;
  box-shadow: 0px 0px 3px 1px rgb(160, 156, 156);
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;

  transition: all 200ms ease-in;
}

td:hover {
  box-shadow: 0px 0px 4px 1px rgb(105, 102, 102);
  cursor: pointer;
}

/* Design of the game's stats */

#progress-bar{
  width: 252px;
  height: 20px;
  position: relative;
  top: -65px;
  background: linear-gradient(90deg, #eee 50%, transparent 50%);
  background-color: rgb(218, 198, 25);
  background-size: 200%;
  background-position: 80%;
  border-radius: 5px;
  transform: scale(-1);
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar p{
  transform: scale(-1);
  color: black;
}

#progress-bar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    transparent 25%,
    rgba(238, 238, 238, 0.5) 25%,
    rgba(238, 238, 238, 0.5) 30%,
    transparent 30%,
    transparent 35%,
    rgba(238, 238, 238, 0.5) 35%,
    rgba(238, 238, 238, 0.5) 70%,
    transparent 70%
  );
  animation: shift 2s linear infinite;
  background-size: 60px 100%;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2),
    inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes shift {
  to {
    background-position: 60px 100%;
  }
}

/* Design of the board and its components */

#game-board {
  width: 25%;
  height: 350px;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgb(39, 37, 37);
  z-index: 0;
}

.board-container {
  background-color: rgb(245, 227, 184);
  padding: 5px;
  padding-top: 120px;
  padding-bottom: 20px;
  border-radius: 6px;
  display: none;
  z-index: 1;
}


#header-board-container {
  padding: 5px;
  border-radius: 2px;

  border: 1px solid rgb(134, 123, 123);
  
  color: rgb(49, 50, 49);
  font-size: 1.3em;
  position: relative;
  top: -90px;
  width: 230px;
  padding: 10px;
  display: flex;
}

#header-board-container span {
  flex: 1;
  text-align: center;
}

.options {
  margin-top: 5%;
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(245, 227, 184, 0.9);
}

#restart-btn, #music-on {
  width: 30px;
  height: 30px;

  transition: all 200ms;
}

#restart-btn:hover, #music-on:hover {
  width: 36px;
  height: 36px;
}

#restart-btn:hover, #music-on:hover, #music-off:hover{
  cursor: pointer;
}

#stats-moves, #stats-timer {
  font-size: 30px;
  color: rgb(31, 7, 1);
  display: block;
  text-align: center;
}

#trophy-img {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 40%;
  padding: 20%;
}

#trophy-img+p{
  color: rgb(55, 12, 1);
  font-size: 20px;
  text-align: center;
}

.correct-cell {
  color: rgb(235, 200, 16);
}
